.even{
    background-color: lightcyan;

}
.odd{
    background-color: paleturquoise;
}

#people{
    display:inline-flex;
    margin:10px;
    padding:10px;
    width:100%;
    
}
.data_table{
    width:50%;
    display:block;
    margin:10px;
    padding:10px;    
}

.data_table tbody tr:hover{
    background:#ffff99;
}

.data_info{
    width:50%;
    height:200px;
    display:block;
    margin:10px;
    padding:10px;
    background-color: coral;;
}
.data_info #title{
    background-color: lightpink;;
}
.data_info #info{
    background-color: lavender;
    height:70%;
}
